minikube start

kubectl create deployment mynginx --image=nginx

if already created then 

kubectl set image deployment/myngnix nginx=nginx:latest

kubectl get deployments

kubectl get pods

kubectl get sevices

kubectl expose deployment mynginx --type=NodePort --port=80 --target-port=80

kubectl scale deployment mynginx --replicas=4
kubectl get service myngnix

kubectl port-forward svc/mynginx 8081:80

minikube tunnel

minikube service mynginx --url

Minikube dashboard

kubectl delete deployment mynginx
kubectl delete service mynginx

minikube stop
